.MenuSup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6cbcb;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 0px;
  height: 100px;  
}

#MenuSupItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;   
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  background-color: #d6cbcb;
  padding-top: 20px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-header {
margin-top: 5px;
text-align: center;
padding-bottom: 15px;
}

img {
  width: 130px;
}
.list-unstyled {
padding-left: 0;
list-style: none;
}

.list-unstyled.components {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.list-unstyled a {
color: black;
text-decoration: none;
font-size: 20px;
display: block;
align-items: center;
margin-left: 55px;
margin-top: 20px;
}

.list-unstyled a:hover {
background-color: #495057;
}


.sidebar-fixed {
    /* width: 250px; */
    position: fixed;
    top: 0;
    left: 0;
  }

  .logout-icon {
    margin-right: 5px; 
    width: 30px; 
    height: 30px;
  }

  .item-menu-sup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 600px) {
    .MenuSup {
      flex-direction: column;
      height: auto;
      align-items: flex-end;
    }

    .item-menu-sup {
      flex-direction: row;
      justify-content: flex-end;
    }

    .item-menu-sup h5 {
      margin-right: 10px; 
    }

    .list-unstyled.components {
      align-items: flex-start;
    }
  }

  